<div>
<%if flash[:notice]%>
<div class="flashn" style="margin-left: 330px;"><%=flash[:notice]%></div>
<%end%>
 Files list:
<p> Перегляд та редагування списку файлів користувача:</p>
<p>Сортування за:</p>
<ol>
  <li>
    <%= sort_show_url(params[:action],"Типом",'files_type')-%>
  </li>
  <li>
    <%= sort_show_url(params[:action],'Розміром','size') -%>
  </li>
  <li>
    <%= sort_show_url(params[:action],'Назвою','name') -%>
  </li>
  <li>можливість видалити файл</li>
  <li>можливість відмітити як загальнодоступний</li>
</ol>
</div>
<%= form_tag apply_user_storagefiles_url(@user)  %>
    <div class="colls" >
        <div class="header"> File Name &nbsp </div>
        <div class="header field"> File Type &nbsp </div>
        <div class="header field ffield"> File Size &nbsp </div>
        <div class="header field ffield" > Access change to &nbsp</div>
        <div class="header field ffield" id="delcol"> Delete  &nbsp</div>
    </div>
    <div style="clear: both;height:0px;"> &nbsp </div>

    <% @sfiles.each do |sfile| %>
     <div class="colls">
          <div class="header"><%= sfile.name -%></div>
          <div class="header field" ><%= sfile.files_type -%></div>
          <div class="header field ffield" ><%= sfile.size -%></div>
          <div class="header field ffield" ><%= opposite_access_str(sfile.access) -%>
            <%= check_box_tag 'access_id[]', sfile.id -%>
          </div>
          <div class="header field ffield" id="delcol" >
            <%= check_box_tag 'deleteFiles[]', sfile.id -%>
          </div>
     </div>
    <%end-%>
<div class="bottomt">&nbsp;</div>
<%= submit_tag 'Submit' -%>
<div style="clear: both;height:20px;">&nbsp;</div>

<div><%=  link_to "Back", user_url(@user) %></div>